<h1>Our expertise in securising industrial sites</h1>

<h2>Several references that attetss of our expertise</h2>
<p>
  <strong>SecurExperts</strong> is the security services providers for the biggest industrial sites in France for many years: ITER, EDF nuclear plants, Total petrochemical plants, ...
</p>

<h2>Specific staff</h2>
<p>
  Industrial sites requires <strong>specific security staff</strong> :
</p>
<ul>
  <li>A minimum of 5 years as security guards</li>
  <li>Specific trainings : ATEX, ... </li>
  <li>Equipments especially designed for missions on industrial sites: patrol controllers, </li>
  <li>A management on site aware of working process of industrial clients</li>
</ul>
