<h1>BusinessProposals#index</h1>
<p>Find me in app/views/business_proposals/index.html.erb</p>

<p><% @business_proposals.each do |proposal|%></p>
<%= proposal.quotation.opportunity.name %>
<% end %>
