


<!--
             .
           .d$ .
           d$$  :
          .$$$
          :$$$   :
          $$$$   :
          $$$$   :
         .$$$$
         :$$$$    :
         :$$$$    :
         $$$$$    :
         $$$$$    :
         :    $$$$$
         :    $$$$$
         :    $$$$$
        .:    $$$$$.
       / :    $$$$: \
      /  :    $$$$:  \
     '        $$$$`   '
     |    :   $$$$    |
     |   /:   $$$$\   |
     |  /     $$$` \  |
     |_/   :__$$P   \_|

 -->

<div class="home d-flex align-items-center">
  <div class="container text-center ">
      <%= image_tag 'rocket_white.png' %>
      <h1>Rocket proposals</h1>

      <p>Make your business proposals <strong>faster than ever</strong> to save time and win more deals!</p>
      <div>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
      </div>
      <div class="mt-4">
      <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
