<ul> Equipments
<% @mission.mission_equipments.each do |mission_equipment| %>
 <li> Category: <%= mission_equipment.equipment.category  %>, Description: <%= mission_equipment.equipment.description  %>, cost:  <%= mission_equipment.equipment.cost  %>€</li>
<% end %>
</ul>
