<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      .ml-4 {
        color: red;
      }

    </style>

  </head>
  <body onload='number_pages'>
    <div id="header">
    </div>
    <div id="content">
      <%= yield %>
    </div>


  </body>
</html>
